{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

    <div class="divCompra1">
        <h5>Filtra la busqueda por la marca del auto que te interese!</h5>
        <form action="{% url 'buscarCompra' %}" method="get">{% csrf_token %}
            <div >
                <p><input type="text" name="modelo" placeholder="Marca"></p>
                <button type="submit" class="btn btn-primary btn-s text-dark"> Filtrar </button>
            </div>
        </form>
    </div>

    <div class="divCompra2">
            {% for auto in listadoDeAutos %}
                    <div>
                        <a href="{% url 'detalleDelAuto' auto.id %}">
                            <div class="card">
                                <img src={{auto.imagen.url}} class="card-img-top" alt="imagen del auto">
                                <div class="card-body">
                                    <h4 class="card-text">{{auto.marca}} {{auto.modelo}}</h4>
                                    <div class="divP">
                                        <p>{{auto.kilometros}}km </p>
                                        <p>${{auto.precio}}</p>
                                    </div>
                                </div>
                            </div> 
                        </a>
                    </div>
            {% endfor %}  
    </div>
{% endblock contenidoQueCambia %}